.mui-select-wrapper {
  width: 16rem;
}

@media (max-width: 900px) {
  .mui-select-wrapper {
    width: 14rem;
  }
}

@media (max-width: 600px) {
  .mui-select-wrapper {
    width: 100%;
  }
}

.sidebar-select {
  width: 100%;
}

.sidebar-select .select-placeholder {
  color: white;
}