h1 {
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.searchbar {
  font-weight: lighter;
  width: 50rem;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  margin-right: 1.6rem;
  border: 0.5px solid rgb(98, 109, 126);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.searchbar:focus {
  border-color: blue;
  box-shadow: 0 0 0 4px rgba(0, 0, 255, 0.1);
}

.controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 30px;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.control .select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15rem;
  margin-right: 2rem;
  border-radius: 5px;
  padding: 0 4rem 0 1.6rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.2rem center;
  background-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}

.control.select:hover {
  border-color: #0000ff;
}

.control.select:focus {
  border-color: #0000ff;
  box-shadow: 0 0 0 4px rgba(0, 0, 255, 0.1);
}

.buttons {
  display: flex;
  gap: 50px;
}

.button {
  padding: 1.2rem 2rem;
  font-weight: 200;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: 0.15s cubic-bezier(0.4, 0, 0.2, 1), blue 0.15s ease;
  transform-origin: center;
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2);
}

.button:active {
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.4);
}
